body {
  font-size: 28px;
  background-color: #FF9F29;
}

ul {

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  text-align:center
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: ;

}

.active {
  background-color: #1A4D2E;
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 14px 16px;
  transform: translate(-50%, -50%);
}



.box {
  width: 600px;
  height: 600px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
  border-radius: 5px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
  }

.box:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  filter: blur(10px);
  margin: -20px;
}
input         {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
  top: 50%;
  left: 50%;
}
label          {
  color:#999;
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

.group        {
  position:relative;
  margin-bottom:45px;
}

form {
  margin:0;
  padding:0;
  position:relative;
  bottom:0;
  left: 25%;
  top: 30%;
}
img {
   margin:0;
   padding:0;
   position:relative;
   bottom:0;
   left: 38%;
   top: 20%;
}

.header {

   position:fixed;

   left: 40%;
   top: 5%;
   font-family: "Trirong", serif;
   font-size: 50px;
   color: white;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px;
}

.register {
   margin:0;
   padding:0;
   position:fixed;
   bottom:0;
   left: 40%;
   top: 75%;
   color: #111111;
   font-size: 20px;

 }